:root {
    --primary-color: #885CFF;
    --secondary-color: #ff4b04;
    --third-color: #ff8f5f;
    --background-color: #545d68;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Belgrano', serif;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Special Elite', cursive;
    color: var(--secondary-color);
}

p {
    color: var(--third-color);
}

.question {
    font-weight: 600;
}

.answers {
    margin-bottom: 20px;
}

.page-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

#primary-container {
    margin: 0 25vw;
    padding-top: 20vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    order: 1;
    line-height: 2;
    text-align: center;
}

#question-container {
    margin: 0 25vw;
    padding-top: 20vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    order: 1;
    line-height: 2;
    text-align: center;
}

#highscore-container {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}